{% extends 'base.html' %}

{% block title %}Dashboard - Skincare WebApp{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">Skincare WebApp Dashboard</h2>
    <a href="{% url 'register_customer' %}">
        <button type="button" class="btn btn-success">Register Customer</button>
    </a>
    <a href="{% url 'register_product' %}" class="ms-3">
        <button type="button" class="btn btn-primary">Register Product</button>
    </a>
    <a href="{% url 'recommend_products' %}" class="ms-3">
        <button type="button" class="btn btn-info">Product Recommendation</button>
    </a>
    <a class="nav-link" href="{% url 'list_customers' %}">View Customers</a>
    <a class="nav-link" href="{% url 'list_products' %}">View Products</a>
    <a class="nav-link" href="{% url 'list_checkouts' %}">View Checkouts</a>
</div>
{% endblock %}